/* SearchTabs */
.tabs-container {
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
}

.tab-button {
  padding: 0.75rem 1.5rem;
  border: 1px solid #d1d5db;
  border-radius: 9999px;
  font-weight: bold;
  background-color: #f0f0f0; /* デフォルトの背景色 */
  color: #4b5563; /* デフォルトの文字色 */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.tab-button:hover {
  background-color: #e5e7eb; /* ホバー時の背景色 */
}

.tab-button.active-movie {
  background-color: #3b82f6; /* 映画タブがアクティブな時の背景色 */
  color: white;
}

.tab-button.active-book {
  background-color: #10b981; /* 本タブがアクティブな時の背景色 */
  color: white;
}

.tab-button.active-mypage {
  background-color: #f59e0b; /* マイページタブがアクティブな時の背景色 */
  color: white;
}

/* Home.css */
.home-container {
  min-height: 100vh;
  background-color: #f3f4f6;
  padding: 1.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.search-button {
  padding: 0.5rem 1rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.search-button:hover {
  background-color: #2563eb;
}

/* SearchInput */
.search-container {
  display: flex;
  /* justify-content: center; */
  margin-bottom: 1.5rem;
}

.search-input {
  width: 100%;
  max-width: 36rem; /* 最大幅を設定（例: 600px） */
  padding: 0.75rem 1.5rem;
  border-radius: 9999px; /* 丸い角 */
  border: 1px solid #d1d5db; /* 灰色の境界線 */
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-input:focus {
  border-color: #3b82f6; /* フォーカス時の青い境界線 */
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3); /* 青いアウトライン */
}

.search-input::placeholder {
  color: #9ca3af; /* プレースホルダーの色（薄い灰色） */
}

/* MyPage Component Styles */
.my-page-container {
  padding: 1rem;
}

.my-page-container h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.my-page-container .mb-6 {
  margin-bottom: 1.5rem;
}

.my-page-container .movie-section,
.my-page-container .book-section {
  margin-bottom: 2rem;
}

.my-page-container .card {
  border: 1px solid #d1d5db;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f9fafb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.my-page-container .card:hover {
  transform: translateY(-5px);
}

.my-page-container .card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.my-page-container .card-genre {
  color: #4b5563;
  font-size: 1rem;
}
